<!doctype html>
<html lang="pt-br" ng-app="idea10">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="assets/img/logo.png" width="140" height="140">

	<title>Idea10</title>

	<!-- Bootstrap core CSS -->
	<link href="assets/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="assets/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="assets/css/carousel.css" rel="stylesheet">
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top nav-custom">
			<a href="index.html">
				<img alt="Brand" style="width: 225px;" class="d-inline-block align-top" src="assets/img/logo-horizontal.png">
			</a>
			<button class="navbar-toggler" type="button" 
				data-toggle="collapse" data-target="#navbarSupportedContent" 
				aria-controls="navbarSupportedContent" aria-expanded="false" 
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse nav-custom-div" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto ">
					<li class="nav-item">
						<a class="nav-link" href="about.html#">QUEM SOMOS</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="projects.html#">PROJETOS</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="products.html#">PRODUTOS & SERVIÇOS</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="simulator.html#">SIMULADOR</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="contact.html#">CONTATO</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
		
	<div class="container marketing">
		<!-- START THE FEATURETTES -->
		<hr class="featurette-divider">

		<div class="row featurette" ng-controller="ContactController">
			<div class="col-md-6">
				<h2 class="featurette-heading" style="margin-top: 0px;">Gostou do resultado?<br><small class="text-muted">Fale com a gente</small></h2>
				<p class="lead">Nossa equipe de projetos terá um enorme prazer em idealizar junto com você o material adequado e as melhores aplicações para a sua imagem ou paisagem.</p>

				<p class="lead">Preencha o formulário abaixo e um de nossos consultores entrará em contato com você.</p>
				<p class="lead"></p>
				<p class="lead"></p>
			</div>

			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label class="control-label">Nome completo:</label>
							<input class="form-control" ng-model="contact.full_name">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label">Telefone:</label>
							<input class="form-control" ng-model="contact.phone_number" ui-br-phone-number>
						</div>
					</div>

					<div class="col-md-8">
						<div class="form-group">
							<label class="control-label">E-mail:</label>
							<input class="form-control" ng-model="contact.email">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label class="control-label">Observações:</label>
							<textarea class="form-control" ng-model="contact.text_description" rows="5"></textarea>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label class="control-label">&nbsp;</label>
							<div class="controls">
								<button id="btn-send-email" type="button" 
									class="btn btn-primary float-right"
									ng-click="sendContactEmail()">
									Enviar
								</button>
								<p ng-if="(loading)"><i class='fa fa-spin fa-spinner'></i> Aguarde, enviando mensagem...</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- /END THE FEATURETTES -->
	</div>

	<footer class="mt-5">
		<div class="container">
			<p class="float-right">
				<a href="#">Voltar ao topo</a>
			</p>
			<p>
				Designed by SD Marketing Mobile &copy; 2017 Idea10. &middot; 
				<a href="#">Política de Privaciade</a> &middot; 
				<a href="#">Termo de Compromisso</a>
			</p>
			<p class="container-fluid">
				<a href="#"><span class="fa fa-facebook"></span></a>
				<a href="#"><span class="fa fa-linkedin"></span></a>
				<a href="#"><span class="fa fa-youtube"></span></a>
				<a href="#"><span class="fa fa-skype"></span></a>
			</p>
		</div>						
	</footer>

	<script src="assets/js/extras.js"></script>

	<script src="assets/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="assets/bower_components/sweetalert2/dist/sweetalert2.all.min.js"></script>
	<script src="assets/bower_components/popper.js/dist/umd/popper.min.js"></script>
	<script src="assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="assets/bower_components/holderjs/holder.min.js"></script>
	<script src="assets/bower_components/underscore/underscore-min.js"></script>
	<script src="assets/bower_components/fancybox/dist/jquery.fancybox.min.js"></script>

	<script src="assets/bower_components/angular/angular.js"></script>
	<script src="assets/bower_components/angular-summernote/dist/angular-summernote.min.js"></script>
	<script src="assets/bower_components/angular-input-masks/angular-input-masks-standalone.min.js"></script>
	<script src="assets/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
	<script src="assets/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	
	<script src="assets/js/app.js"></script>
</body>
</html>