<!doctype html>
<html lang="en" ng-app="idea10">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="assets/img/logo.png" width="140" height="140">

	<title>Idea10</title>

	<!-- Bootstrap core CSS -->
	<link href="assets/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="assets/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="assets/bower_components/fancybox/dist/jquery.fancybox.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="assets/css/carousel.css" rel="stylesheet">
	<link href="assets/css/text-header-light.css" type="text/css" rel="stylesheet">
</head>
<body ng-controller="ProjetosController">
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top nav-custom">
			<a href="index.html">
				<img alt="Brand" style="width: 235px;" class="d-inline-block align-top" src="assets/img/logo_horizontal_otimizado_branco.png">
			</a>
			<button class="navbar-toggler" type="button" 
				data-toggle="collapse" data-target="#navbarSupportedContent" 
				aria-controls="navbarSupportedContent" aria-expanded="false" 
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse nav-custom-div" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto ">
					<li class="nav-item">
						<a class="nav-link" href="about.html#">QUEM SOMOS</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="projects.html#">PROJETOS</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="products.html#">PRODUTOS & SERVIÇOS</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="simulator.html#">SIMULADOR</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="contact.html#">CONTATO</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<div class="container pt-5 mb-5">
		<h1>Projetos recentes</h1>

		<hr>

		<div class="row">
			<div class="col-sm-12 mt-5 text-center" ng-if="(instagram_feed && !instagram_feed.items)">
				<h4 class="text-success">
					<i class="fa fa-2x fa-spin fa-spinner"></i>
					<br>
					Aguarde, carregando imagens...
				</h4>
			</div>

			<div class="col-md-3 mt-3" 
				ng-repeat="feed_item in instagram_feed.items"
				ng-if="(!feed_item.video_versions)">
				<a href="{{ feed_item.carousel_media[0].image_versions2.candidates[0].url }}" 
					data-fancybox="instagram_feed" data-caption="{{ feed_item.caption.text }}"
					ng-if="(feed_item.carousel_media)">
					<img class="img-fluid img-thumbnail mx-auto"
						uib-tooltip="{{ feed_item.caption.text }}" tooltip-trigger="focus"
						src="{{ feed_item.carousel_media[0].image_versions2.candidates[0].url }}">
				</a>
				<a href="{{ feed_item.image_versions2.candidates[0].url }}" 
					data-fancybox="instagram_feed" data-caption="{{ feed_item.caption.text }}"
					ng-if="(feed_item.image_versions2)">
					<img class="img-fluid img-thumbnail mx-auto"
						uib-tooltip="{{ feed_item.caption.text }}" tooltip-trigger="focus"
						src="{{ feed_item.image_versions2.candidates[0].url }}">
				</a>
			</div>
		</div>
	</div>

	<footer>
		<div class="container">
			<p class="float-right">
				<a href="#">Voltar ao topo</a>
			</p>
			<p>
				Designed by SD Marketing Mobile &copy; 2017 Idea10. &middot; 
				<a href="#">Política de Privaciade</a> &middot; 
				<a href="#">Termo de Compromisso</a>
			</p>
			<p class="container-fluid">
				<a href="#"><span class="fa fa-facebook"></span></a>
				<a href="#"><span class="fa fa-linkedin"></span></a>
				<a href="#"><span class="fa fa-youtube"></span></a>
				<a href="#"><span class="fa fa-skype"></span></a>
			</p>
		</div>						
	</footer>

	<script src="assets/js/extras.js"></script>

	<script src="assets/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="assets/bower_components/sweetalert2/dist/sweetalert2.all.min.js"></script>
	<script src="assets/bower_components/popper.js/dist/umd/popper.min.js"></script>
	<script src="assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="assets/bower_components/holderjs/holder.min.js"></script>
	<script src="assets/bower_components/underscore/underscore-min.js"></script>
	<script src="assets/bower_components/fancybox/dist/jquery.fancybox.min.js"></script>

	<script src="assets/bower_components/angular/angular.js"></script>
	<script src="assets/bower_components/angular-summernote/dist/angular-summernote.min.js"></script>
	<script src="assets/bower_components/angular-input-masks/angular-input-masks-standalone.min.js"></script>
	<script src="assets/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
	<script src="assets/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	
	<script src="assets/js/app.js"></script>
</body>
</html>