<!doctype html>
<html lang="en" ng-app="idea10">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="assets/img/logo.png" width="140" height="140">

	<title>Idea10</title>

	<!-- Bootstrap core CSS -->
	<link href="assets/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="assets/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="assets/css/carousel.css" rel="stylesheet">
	<link href="assets/css/wizard.css" rel="stylesheet">
</head>
<body ng-controller="SimulatorController">
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top nav-custom">
			<a  href="#">
				<img class="d-inline-block align-top brand-logo" src="assets/img/logo-horizontal.png">
			</a>
			<button class="navbar-toggler" type="button" 
				data-toggle="collapse" data-target="#navbarSupportedContent" 
				aria-controls="navbarSupportedContent" aria-expanded="false" 
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse nav-custom-div" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto ">
					<li class="nav-item">
						<a class="nav-link" href="index.html#">INICIO<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="about.html#">QUEM SOMOS</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="projects.html#">PROJETOS</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="products.html#">PRODUTOS</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="simulator.html#">SIMULADOR</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="contact.html#">CONTATO</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	
	<div class="container pt-5">
		<div class="row">
			<div class="col-lg-12">
				<section>
					<div class="wizard">
						<ul class="nav nav-wizard">
							<li ng-class="{'active':(step == 1)}">
								<a href="#step1" data-toggle="tab" ng-click="step = 1;">Escolha o material</a>
							</li>
							<li ng-class="{'active':(step == 2)}">
								<a href="#step2" data-toggle="tab" ng-click="step = 2;">Escolha a dimensão</a>
							</li>
							<li ng-class="{'active':(step == 3)}">
								<a href="#step3" data-toggle="tab" ng-click="step = 3;">Escolha a imagem</a>
							</li>
							<li ng-class="{'active':(step == 4)}">
								<a href="#step4" data-toggle="tab" ng-click="step = 4;">Visualizar orçamento</a>
							</li>
						</ul>
						<form>
							<div class="tab-content">
								<div class="tab-pane" id="step1"
									ng-class="{'active':(step == 1)}">
									<div class="container">
										<h3 class="text-success mt-5 mb-5">
											<span class="badge badge-pill badge-success">1</span>
											Escolha o Material que deseja utilizar:
										</h3>

										<div class="row" style="height: 600px; overflow-x: auto; overflow-y: scroll; white-space: nowrap;">
											<div class="col-sm-3" ng-repeat="material in materials">
												<div class="card border border-{{ (material.selected) ? 'success' : 'default' }} mb-5"
													ng-click="selectMaterial(material)">
													<img class="card-img-top" src="{{ material.image }}" style="min-height: 245.5px;">
													<div class="card-body mt-2 p-0">
														<h5 class="card-title text-center">{{ material.name }}</h5>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="tab-pane" id="step2"
									ng-class="{'active':(step == 2)}">
									<div class="container">
										<div class="row">
											<div class="col-sm-6">
												<h4 class="text-success mt-5 mb-5">
													<span class="badge badge-pill badge-success">2</span>
													Qual o tamanho do(a) {{ budget.material.name }}:
												</h3>

												<div class="row">
													<div class="col-sm-3">
														<div class="form-group">
															<label class="control-label">Altura (m)</label>
															<input type="text" class="form-control text-right" ui-number-mask="2"
																ng-keyup="calculateTotalDimension('material')"
																ng-model="budget.material.dimensions.height">
														</div>
													</div>

													<div class="col-sm-3">
														<div class="form-group">
															<label class="control-label">Largura (m)</label>
															<input type="text" class="form-control text-right" ui-number-mask="2"
																ng-keyup="calculateTotalDimension('material')"
																ng-model="budget.material.dimensions.width">
														</div>
													</div>

													<div class="col-sm-3">
														<div class="form-group">
															<label class="control-label">Dimensão (m²)</label>
															<input class="form-control text-right" disabled="disabled" 
																value="{{ budget.material.dimensions.total | NumberFormat : 2 : ',' : '.' }}">
														</div>
													</div>
												</div>
											</div>
											
											<div class="col-sm-6">
												<h4 class="text-success mt-5 mb-5">
													<span class="badge badge-pill badge-success">3</span>
													Informe a área de impressão:
												</h3>

												<div class="row">
													<div class="col-sm-3">
														<div class="form-group">
															<label class="control-label">Altura (m)</label>
															<input type="text" class="form-control text-right" ui-number-mask="2"
																ng-keyup="calculateTotalDimension('local')"
																ng-model="budget.local.dimensions.height">
														</div>
													</div>

													<div class="col-sm-3">
														<div class="form-group">
															<label class="control-label">Largura (m)</label>
															<input type="text" class="form-control text-right" ui-number-mask="2"
																ng-keyup="calculateTotalDimension('local')"
																ng-model="budget.local.dimensions.width">
														</div>
													</div>

													<div class="col-sm-3">
														<div class="form-group">
															<label class="control-label">Dimensão (m²)</label>
															<input class="form-control text-right" disabled="disabled" 
																value="{{ budget.local.dimensions.total | NumberFormat : 2 : ',' : '.' }}">
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="row"
											ng-if="(budget.local.dimensions.total / budget.material.dimensions.total) > 0">
											<div class="col-sm-12">
												<span>{{ (budget.local.dimensions.total / budget.material.dimensions.total) | NumberFormat : 0 : ',' : '.' }} unidades necessárias de {{ budget.material.name }}</span>
											</div>
										</div>

										<div class="row mt-5">
											<div class="col-sm-12">
												<button class="btn btn-success float-right"
													ng-click="goToSelectImage()">
													Escolher a imagem <i class="fa fa-angle-double-right"></i>
												</button>
											</div>
										</div>
									</div>
								</div>

								<div class="tab-pane" id="step3"
									ng-class="{'active':(step == 3)}">
									<div class="container">
										<!--<div class="form-group">
											<label class="control-label">Pesquisa de imagens</label>
											<input class="form-control" ng-model="budget.phrase">
										</div>

										<div class="form-group">
											<label class="control-label"></label>
											<div class="controls">
												<button class="btn btn-primary" ng-click="loadImagesByGettyImagesAPI()">
													<i class="fa fa-search"></i> Pesquisar
												</button>
											</div>
										</div>

										<pre>{{ images | json }}</pre>-->

										<h3 class="text-success mt-5 mb-5" ng-if="(!budget.category)">
											<span class="badge badge-pill badge-success">4</span>
											Escolha uma categoria de imagens que deseja utilizar:
										</h3>

										<div class="row" style="height: 540px; overflow-x: auto; overflow-y: scroll; white-space: nowrap;"
											ng-if="(!budget.category)">
											<div class="col-sm-3" ng-repeat="category in image_categories">
												<div class="card border border-{{ (budget.category) ? 'primary' : 'default' }} mb-5"
													ng-click="budget.category = category">
													<div class="card-img-top" style="background-image: url('{{ category.thumbnail }}');"></div>
													<div class="card-body mt-2 p-0">
														<h5 class="card-title text-center">{{ category.name }}</h5>
													</div>
												</div>
											</div>
										</div>

										<div class="row mt-5 mb-5" ng-if="(budget.category)">
											<div class="col-sm-8">
												<h3 class="text-success">
													<span class="badge badge-pill badge-success">5</span>
													Escolha a imagem que deseja utilizar:
												</h3>
											</div>
											<div class="col-sm-4 text-right">
												<button class="btn btn-secondary"
													ng-click="budget.category = null;">
													<i class="fa fa-angle-double-left"></i>
													Voltar
												</button>
											</div>
										</div>

										<div class="row" style="height: 540px; overflow-x: auto; overflow-y: scroll; white-space: nowrap;"
										 	ng-if="(budget.category)">
											<div class="col-sm-3" ng-repeat="image in budget.category.images"
												ng-click="selectImage(image)">
												<div class="card border border-{{ (image.selected) ? 'success' : 'default' }} mb-5">
													<div class="card-img-top" style="background-image: url('{{ image.path }}');"></div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="tab-pane" id="step4"
									ng-class="{'active':(step == 4)}">
									<h3 class="text-success mt-5 mb-5">
										<span class="badge badge-pill badge-success">6</span>
										Confira seu orçamento:
									</h3>

									<div class="row">
										<div class="col-sm-5">
											<div class="card border border-success">
												<div class="card-img-top" style="background-image: url('{{ budget.image.path }}');"></div>
											</div>
										</div>

										<div class="col-sm-7">
											<div class="row">
												<div class="col-sm-6">
													<label class="control-label"><strong>Material de Aplicação</strong></label>
													<input class="form-control" disabled="disabled" 
														value="{{ budget.material.name }}">
												</div>

												<div class="col-sm-6">
													<label class="control-label"><strong>Tamanho do Material</strong></label>
													<input class="form-control" disabled="disabled" 
														value="{{ budget.material.dimensions.height }}m x {{ budget.material.dimensions.width }}m">
												</div>
											</div>

											<div class="row">
												<div class="col-sm-6">
													<label class="control-label"><strong>Área de Aplicação</strong></label>
													<input class="form-control" disabled="disabled" 
														value="{{ budget.local.dimensions.height }}m x {{ budget.local.dimensions.width }}m">
												</div>

												<div class="col-sm-6">
													<label class="control-label"><strong>Unidades necessárias p/ aplicação</strong></label>
													<input class="form-control" disabled="disabled" 
														value="{{ (budget.local.dimensions.total / budget.material.dimensions.total) | NumberFormat : 0 : ',' : '.' }}">
												</div>
											</div>

											<div class="row">
												<div class="col-sm-12">
													<label class="control-label"><strong>Imagem escolhida</strong></label>
													<input class="form-control" disabled="disabled" 
														value="#{{ budget.image.code }} ({{ budget.category.name }})">
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="clearfix"></div>
							</div>
						</form>
					</div>
				</section>
			</div>
		</div>
	</div>
	
	<footer class="mt-5">
		<div class="container">
			<p class="float-right">
				<a href="#">Voltar ao topo</a>
			</p>
			<p>
				Designed by SD Marketing Mobile &copy; 2017 Idea10. &middot; 
				<a href="#">Política de Privaciade</a> &middot; 
				<a href="#">Termo de Compromisso</a>
			</p>
			<p class="container-fluid">
				<a href="#"><span class="fa fa-facebook"></span></a>
				<a href="#"><span class="fa fa-linkedin"></span></a>
				<a href="#"><span class="fa fa-youtube"></span></a>
				<a href="#"><span class="fa fa-skype"></span></a>
			</p>
		</div>						
	</footer>

	<script src="assets/js/extras.js"></script>

	<script src="assets/bower_components/jquery/dist/jquery.slim.min.js"></script>
	<script src="assets/bower_components/sweetalert2/dist/sweetalert2.all.min.js"></script>
	<script src="assets/bower_components/popper.js/dist/umd/popper.min.js"></script>
	<script src="assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="assets/bower_components/holderjs/holder.min.js"></script>
	<script src="assets/bower_components/underscore/underscore-min.js"></script>

	<script src="assets/bower_components/angular/angular.js"></script>
	<script src="assets/bower_components/angular-summernote/dist/angular-summernote.min.js"></script>
	<script src="assets/bower_components/angular-input-masks/angular-input-masks-standalone.min.js"></script>
	
	<script src="assets/js/app.js"></script>
</body>
</html>