.navbar-light .navbar-nav .nav-link {
    color: #f8f9fa;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(121, 201, 61);
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #00ff18;
}